<main class="categories">
  <div class="container categories_container">
    <div class="breadcumb">
      <a class="breadcumb_link" href="/"><span>Trang chủ</span></a>

      <span class="breadcumb_sup">/</span>
      <a class="breadcumb_link" href="/categories/<%=nameCateById.cate_id%>"
        ><span> <%=nameCateById.cate_name%> </span>
      </a>
    </div>
    <div class="product_list">
      <% for(sp of listSpByCate) {%>
      <div class="product_item">
        <span class="product_price--discount"></span>
        <div class="product_img">
          <a href="/product/<%=sp.id%>"
            ><img src="<%=sp.image%>" alt="<%=sp.name%>"
          /></a>
        </div>
        <div class="product_name">
          <a href="#"><p><%=sp.name%></p></a>
        </div>
        <div class="product_price">
          <span class="text-red"><%=sp.price%>đ</span
          ><span class="text-gray">2,239,000đ</span>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</main>
