<main class="product_container">
  <div class="container product_wrapper">
    <% for (product of product) { %>
    <div class="breadcumb">
      <a class="breadcumb_link" href="/"><span>Trang chủ</span></a>

      <span class="breadcumb_sup">/</span>
      <% for(cate of nameCate) {%>
      <a class="breadcumb_link" href="/categories/<%=cate.id%>"
        ><span><%=cate.name%></span></a
      >
      <% } %>
      <span class="breadcumb_sup">/</span>

      <span class="breadcumb_sup"><%=product.name%></span>
    </div>

    <article class="product">
      <div class="product_img br24">
        <img src="<%=product.image%>" alt="<%=product.name%>" />
      </div>

      <div class="product_info">
        <div class="product_info--title">
          <h1><%=product.name%></h1>
          <div class="product_info--categories">
            <% for(cate of nameCate) {%>
            <span><%=cate.name%></span>
            <% } %>
          </div>
        </div>

        <div class="product_info--price">
          <div class="discount_price">
            <span>-25%</span>
          </div>
          <div class="product_price main_price">
            <span class=""><%=product.price%>đ</span
            ><span class="text-gray">2,239,000đ</span>
          </div>
        </div>

        <div class="product_info--detail">
          <p><%=product.detail%></p>
        </div>

        <div class="product_info--count">
          <span class="minus">-</span>
          <!-- <p class="count" data="1">1</p> -->
          <input type="number" value="1" class="count" />
          <span class="plus">+</span>
        </div>

        <div class="product_info--btn">
          <button>Thêm vào giỏ</button>
          <button>Mua ngay</button>
        </div>
      </div>
    </article>
    <% } %>
  </div>
</main>
<div class="product_container">
  <div class="container product_wrapper">
    <div class="content_title">
      <h1>Sản phẩm liên quan</h1>
      <a href="#" class="content_sup">
        <span>Xem thêm</span>
      </a>
    </div>

    <div class="product_list">
      <% for(sp of listSp){%>
      <div class="product_item">
        <span class="product_price--discount">-25%</span>
        <div class="product_img">
          <a href="/product/<%=sp.id%>"><img src="<%=sp.image%>" alt="" /></a>
        </div>
        <div class="product_name">
          <a href="/product/<%=sp.id%>"> <p><%=sp.name%></p></a>
        </div>
        <div class="product_price">
          <span class="text-red"><%=sp.price%></span
          ><span class="text-gray">2,239,000đ</span>
        </div>
      </div>
      <%}%>
    </div>
  </div>
</div>
